/* src/components/Footer.css */
.footer {
    background-color: #f8f9fa; /* Same background color as navbar */
    padding: 10px 0; /* Reduce padding for the top and bottom */
    text-align: center; /* Center the content */
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-logo {
    height: 30px; /* Adjust the height of the logo to make it smaller */
    margin-bottom: 5px; /* Reduce space between the logo and text */
  }
  
  .footer-text {
    font-size: 12px; /* Smaller font size for footer text */
    color: #6c757d; /* Muted color for text */
  }
  
  .footer-text .heart {
    color: #6c757d; /* Gray heart color */
  }
  